@model CreditCard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        body {
            padding-top: 20px;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div><h1>Something went wrong</h1></div>

    <div>Oops, there was a problem with the website. Try again.<br /><br /></div>

    <div>
        <form action=".">
            <input type="submit" value="Back to pre-qualification form" class="btn btn-primary" />
        </form>
    </div>
</body>
</html>
